<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <a href="/dashboard/logout" class="dropdown-item logout">
    <i class="ni ni-user-run"></i>
    <span class="logout">Logout</span>
  </a>
</div>
